$baseFont: "Source Sans Pro", sans-serif;
$headerFont: "Neucha", cursive;
$backgroundColor: #FAFAFA;
$textColor: #34344A;
$headerColor: #0C8346;
$highlightColor: #009B72;
$shadowColor: #FFFD82;
$maxWidth: 1280;
$tabletBreakpoint: 850;
$mobileBreakpoint: 450;

@import "mixins";
@import "setup";
@import "typography";

/* ~~~~~~~~~~~~~~~~~~~~ INDEX ~~~~~~~~~~~~~~~~~~~~ */

h1, h2, h3 {
    margin: 25px 0;
}

ul {
    margin: 15px 0;
}

button {
    width: 200px;
    background-color: $highlightColor;
    color: $backgroundColor;
    border: 1px solid $highlightColor;
    padding: 5px 0;
    margin-top: 20px;
    cursor: pointer;

    &:hover, &:focus, &:active {
        border-color: $textColor;
    }

    &:disabled {
        background-color: desaturate($highlightColor, 80%);
        color: darken($backgroundColor, 50%);
        border-color: transparent;
    }
}

.hidden {
    display: none;
}

body {
    background-color: $backgroundColor;
}

.wrapper {
    width: 100%;
    max-width: #{$maxWidth}px;
    margin: 0 auto;
}

header {
    @include scaleSize("height", 500, 360, $maxWidth, $tabletBreakpoint);
    background: linear-gradient(230deg, transparent calc(60% - 1px), $headerColor calc(60% + 1px)), url("../assets/header.jpg") no-repeat right top;
    background-size: auto, cover;
    position: relative;
}

.logo {
    width: 400px;
    position: absolute;
    @include scaleSize("bottom", 90, 30, $maxWidth, $tabletBreakpoint);
    @include scaleSize("left", 90, 30, $maxWidth, $tabletBreakpoint);

    h1 {
        line-height: 0.9;
        display: inline;
    }

    i {
        float: left;
        font-size: 7rem;
        color: $highlightColor;
        @include textOutline(2, $textColor);
        margin-right: 10px;
    }

    span {
        font-size: 2.5rem;

        &::before {
            content: "\A";
            white-space: pre;
        }
    }
}

.about {
    position: relative;
    padding: 60px 60px 30px;

    img {
        float: right;
        height: 150px;
        margin-left: 60px;
        box-shadow: 20px 20px $shadowColor;
    }

    span {
        font-weight: 600;
    }

    @media (max-width: #{$tabletBreakpoint}px) {
        padding: 30px;
    }
}

.plants {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 30px;
    height: 100%;

    @media (max-width: #{$tabletBreakpoint}px) {
        padding: 30px 10px;
    }
}

.step1, .step2, .step3 {
    padding: 0 30px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-radius: 50px;

    &.selected {
        border-color: $highlightColor;
    }
}

.step1, .step2 {
    width: 50%;

    @media (max-width: #{$tabletBreakpoint}px) {
        width: 100%;
    }
}

.step3 {
    width: 100%;
}

.sunExposure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 40px;

    label {
        flex: 1 0 33%;
    
        input {
            margin-left: 10px;
        }
    }
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px 40px;

    label {
        width: calc(30% - 20px);
        text-align: right;
    }

    select {
        width: 70%;
        margin: 10px;
    }
}

.filteredPlants {
    padding: 20px;
    text-align: center;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: flex;
        padding: 5px 20px;

        &:nth-of-type(even) {
            background-color: darken($backgroundColor, 5%);
        }
    }

    label {
        flex: 1 0 calc(100% - 50px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;

        > img {
            width: 70px;
        }

        .details {
            display: inline-block;
            width: 100%;
        }

        .flexContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
    }

    button:first-of-type {
        margin-right: 20px;
    }

    @media (max-width: #{$tabletBreakpoint}px) {
        padding: 20px 0;
    }
}

.garden {
    padding: 30px 60px 60px;

    @media (max-width: #{$tabletBreakpoint}px) {
        padding: 30px 10px;
    }
}

.gardenBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px solid $highlightColor;
    padding: 5px 20px;
}

.gardenPlant {
    display: inline-block;
    margin: 10px;
    text-align: center;

    img {
        display: block;
        width: 100px;
        margin: 0 auto 10px;
    }

    span {
        font-weight: bold;
    }
}

footer {
    background-color: $headerColor;
    color: $backgroundColor;
    padding: 1px;
    text-align: center;
}